:root {
  --earthy-green: rgba(44, 96, 60, 0.8);
  --blue-accent-900: #82AFB4;
   --off-white: rgba(255, 255, 255, 0.8);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
    font-family: priori-sans,sans-serif;;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-family: questa-grande,serif;
    font-weight: 400;
    font-style: normal;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.App {
    height: 100vh;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/images/background.jpg");
    background-size: cover;
    padding: 1.5rem;
    

}

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  
}

/*********** Left Section *************/

.left-section {
  background-color: var(--earthy-green);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  color: white;
}

.cv-title  {
  height: 4rem;
  width: 100%;
  background-color: var(--blue-accent-900);
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.personal-info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.picture {
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 100vw;
}

.personal-info-container h2 {
  font-size: 1rem;
}

.personal-info-container p {
  font-size: 0.75rem;
}

.divider-thin, .divider-normal {
  width: 100%;
  height: 2px;
  background-color: rgba(255,255,255, 0.6);
}


.divider-normal {
  height: 4px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  width: 80%;
  margin-top: 40px;
}


/*************** Right Section ***************/

.right-section {
  background-color: var(--off-white);
  display: grid;
  grid-template-rows: 300px repeat(auto-fit, minmax(200px, 1fr));
  padding: 2rem;
}

.your-name {
  font-size: 3rem;
  color: var(--blue-accent-900);
}

.your-title {
  text-transform: uppercase;
}

.about-you{
  font-size: 1.25rem;
  color: var(--blue-accent-900);
}

.edit-profile-btn {
  height: 2rem;
}

.profile-container {
  position: relative;
}

.education-container, .experience-container {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  align-items: center;

}

.section-divider {
  min-width: 100%;
  color: var(--blue-accent-900)
}

.section-divider h2 {
  padding-left: 0.375rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.education-container, .experience-container {
  position: relative;
}

.add-education-btn, .add-experience-btn{
  position: absolute;
  top: 1.25%;
  right: 1%;
}

/* Default flex class */

.flex {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 0.125rem 0.25rem;
  background-color: var(--blue-accent-900);
  color: white;
  border-style: none;
  border-radius: 0.5rem;
  cursor: pointer;

}

form button {
  color: var(--blue-accent-900);
  background-color: white;
}

button:hover, button:focus {
  opacity: 0.9;
  background-color: var(--earthy-green);
}

/* Profile Popup Form */

.forms {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--blue-accent-900);
  width: 300px;
  height: 400px;
  padding: 1rem;
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 10;
}

.personal-form {
  top: 30%;
  left: 40%;
  height: min-content;
}

.skills-form {
  top: 50%;
  left: 40%;
  height: min-content;
}

.education-form {
  height: min-content;
}

textarea {
  resize: none;
  flex-grow: 1;
}

label {
  color: white;
}

.form-btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}